*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: azure;
}

.wrapper{
    border: 1px solid gray;
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

    background-color: white;

    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;

    transform-style: preserve-3d;
}

.wrapper-nome{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;

    margin: 0 1rem;
}

.wrapper-peso{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;

    margin: 0 1rem;
}

.wrapper-altura{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;

    margin: 0 1rem;
}

.wrapper-result{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 1rem;
}

.wrapper-button{
    position: relative;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

   padding: 0 1rem;
}

.wrapper-users{
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding: 1rem;

    background-color: crimson;

    cursor: pointer;
    color: white;
}

.wrapper-reg{
    position: relative;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.wrapper-reg{
    position: relative;
    width: 100%;

    padding: 0 1rem;

    display: block;
    background-color: crimson;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: white;
}

.wrapper-reg-data{
    position: relative;
    width: 100%;

    padding: 0 1rem;

    display: block;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: black;
    
}

input{
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid gray;
    width: 250px;
}

button {
    padding: 6px 10px;
}

#reiniciar{
    opacity: 0.5;
    cursor: not-allowed;
}

#reiniciar.show{
    opacity: 1;
    cursor: pointer;
}
